body {
    font-family: 'Roboto', sans-serif;
}

header, main,footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #a7a5a5;
    padding: 1rem;
    background-color: #c1e1fa;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #f0f6f8;
}