@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 20px 40px;
        position: relative;
    }

    .title {
        margin-bottom: 0;
    }

    header .container {
        display: block;
        margin: 0 auto;
    }

    header .container nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
        width: auto;
        
    }

    main {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        max-width: 1024px;
    }

    #menu-button {
        display: none;
    }
}